html {
  background-color: #383c4a;

  overflow: hidden;
}

.header {
  color: #ddd;
  background-color: #2a2e3a;
  vertical-align: middle;
}
.header > button {
  height: 100%;
  display: block;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  width: 150px;
  font-size: 16pt;
  color: #ddd;
  border-style: line;
  background-color: #404552;
}

/* For some reason, the CSS i need to use to get this to work isn't coming to me >:( */
.KBColumn {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 22vw;
  min-width: 22vw;

  min-height: 25vh;
  border-color: #ddd;
  border-width: 2px;
  border-style: solid;
  color: #eee;
  margin: 5px;
  padding: 5px;
  flex-wrap: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 1px;
  margin-left: 1px;
  margin-right: 1px;
  padding-right: 1px;
  max-height: 88vh;
}

.taskWrapper {
  display: flex;
  flex-direction: row;
  border-color: #ccc;
  border-width: 2px;
  border-style: solid;
  margin: 2px;
}
.prioBlock {
  order: 1;
  flex: 3;
  display: flex;
  overflow: hidden;
}
.taskText {
  order: 5;
  flex: 20;
  height: 100%;
  overflow: auto;
}
.actionBlock {
  order: 10;
  flex: 1;
  display: flex;
  background-color: #ddd;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}
.App {
  display: flex;
  align-items: stretch;
  order: 1;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.footer {
  display: flex;
  order: 400;
  color: #eee;
}

.panel {
  display: flex;
  flex: 1;
  order: 1;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: stretch;
  background-color: #404552;
}

.modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main label {
  float: left;
  margin-left: 20%;
}
.modal-main input {
  display: block;
  float: right;
}

.modal-main button:last-of-type {
  margin: auto;
  display: block;

  background-color: darkRed;
  color: #ccc;
}

.modal-main button {
  display: block;
  text-align: center;
  background-color: green;
}

.modal-main {
  position: fixed;
  text-align: center;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
