html {
  background-color: #383c4a;
}

.header {
  color: #ddd;
  background-color: #2a2e3a;
  vertical-align: middle;
}
.header > button {
  height: 100%;
  display: block;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  width: 150px;
  font-size: 16pt;
  color: #ddd;
  border-style: line;

  background-color: #404552;
}
 
/* For some reason, the CSS i need to use to get this to work isn't coming to me >:( */
.KBColumn {
  text-align: center;
  display: block;
  float: left;
  width:initial;
  flex-grow:inherit;
  border-color: #ddd;
  border-width: 2px;
  border-style: solid;
  color: "orange";
}
.panel{
  width: 100%;
}
