.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  background: rgba(0, 0, 0, 0.5);
}

.modal-main label {
  float: left;
  margin-left: 20%;
}
.modal-main input {
  display: block;
  float: right;
}
select {
  background-color: red;
  text-align: right;
  margin-left: auto;
}
.modal-main button {
  margin: 0 auto;
  float: left;
  display: block;
  transform: translate(-50%);
  margin-left: 0;
  background-color: dodgerblue;
}

.modal-main button:first-of-type {
  clear: left;
  display: block;
  margin-left: 50%;
  margin-right: 0;
  text-align: center;
  background-color: green;
}

.modal-main {
  position: fixed;
  text-align: center;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
